html {height:100%;}
body {
	padding:0;
	margin:0;
	background-color: #1a1a1a;
	color: #eee;
	font-family: Monospace;
	font-size:16px;
	height:100%;
	cursor: text;
}
#edit {
	outline: none;
}
#youtube {
	display:none;
}
.textin {
	width:100%;
	word-wrap: break-word;
	word-break: break-all;
	white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
	white-space: normal;
}
.maintable {
	position:relative;
	top:20;
	padding-bottom:20;
}
.borderContain {
	position: fixed;
	width:100%;
	background:#1a1a1a;
	z-index:5;
	height:20;
}
.borderText {
	text-align: justify;
}
.borderText:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.bordertop {
	top:0;
}
.borderbottom {
	bottom:0;
}
::-moz-selection {
  color: black; background: white;
}

::selection {
  color: black; background: white;
} 